/* You can add global styles to this file, and also import other style files */
@import "./assets/css/colors.css";
@import "./assets/css/nav.css";
@import "./assets/css/table.css";

header {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 1rem;
}
